# IDEs
.idea/

# Hugo
/resources/
public/
jsconfig.json
node_modules/

# macOS
.DS_Store

# Local backups / private config
static/zonaorientale.backup/
config_firebase
static/zonaorientale/comandi_git
mine_not_to_push
static/docs_zonaorientale/static/zonaorientale_refactor_backup/
static/zonaorientale_refactor_backup/
static/docs_zonaorientale/
static/zonaorientale/docs/
static/docs/
